.user-form__button {
  padding: 0;
  margin: 0;
  background-color: white;
  height: 50px;
  border: 0;
  border-radius: 2px;
  font-size: 18px;
  margin-bottom: 30px;
  cursor: pointer;
}

.user-form__button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 467px) {
  .user-form__button {
    height: 46px;
    margin-bottom: 20px;
    font-size: 16px;
  }
}
