.header__link {
  color: white;
  text-decoration: none;
  font-family: "Inter";
  font-size: 18px;
  line-height: 1.22;
  cursor: pointer;
}

.header__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 467px) {
  .header__link {
    font-size: 14px;
  }
}
