.user-form {
  height: 64vh;
  width: 358px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

@media screen and (max-width: 467px) {
  .user-form {
    width: calc(100% - 22px);
    height: calc(100vh - 166px);
  }
}
